<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
    <div id="pattern-about">
        <div id="nav-bar">
            <a href="./index.html" class="nav-titles">Home</a><span id="separator">|</span>
            <a href="./portfolio.html" class="nav-titles">Portfolio</a><span id="separator">|</span>
            <a href="./about.html" class="nav-titles active">About</a>
        </div>
        <div class="about">
            <img id="avatar" src="../static/assets/avatar1.png" alt="avatar">
            <img id="image" src="../static/assets/self.jpg" alt="self">
            <h1>About me</h1>
            <p>Welcome to my corner of the web! I'm a Biomedical Engineer with a Master's in Engineering Management, currently working as a Field Engineer in a multinational pharmaceutical organization. 
                <br><br>With a passion for merging technology with healthcare, I thrive on bridging the gap between complex biomedical concepts and practical applications in the pharmaceutical industry.
                <br><br>Beyond my professional endeavors, I'm deeply passionate about coding. It's not just a skill; it's a creative pursuit that allows me to explore new ideas, solve problems, and bring concepts to life. 
                Whether I'm crafting algorithms, building applications, or simply tinkering with new languages, coding fuels my curiosity and drives my enthusiasm for innovation. I have experience in working with Python, MatLab, MySQL and HTML/CSS/JS.
                <br><br>Feel free to reach out for knowledge sharing and/or collaboration! :)
            </p>
            <h3> Connect with me: </h3> <a href="https://www.linkedin.com/in/stratos-gialouris-msc/" target="_blank"><img src="../static/assets/linkedin.svg" alt="linkedin" style="width:20px"></a>
            <a href="mailto:st.gialouris@gmail.com" style="text-decoration: none;"><img src="../static/assets/envelope.svg" alt="email" style="width:21px; margin-left:25px;"></a></a>
        </div>
    </div>
</body>
</html>