<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>My website</title>
</head>
<body>
    <div id="pattern">
        <div id="nav-bar">
            <a href="./index.html" class="nav-titles">Home</a><span id="separator">|</span>
            <a href="./portfolio.html" class="nav-titles">Portfolio</a><span id="separator">|</span>
            <a href="./about.html" class="nav-titles">About</a>
        </div>
        <div id="hero">
            <div id="hero-par">
                <h1>Hello, I'm Stratos</h1>
                <h2>Welcome to my webpage!</h2>
                <button id="arrow"><a href="#skills" ><img class="arrow-down" src="../static/assets/arrow-down.png"></a></button>
            </div>
            <div id="hero-img">
                <img src="../static/assets/hacker.png" alt="hacker cartoon">
            </div>
        </div> 
        <hr>
        <div id="skills">
            <div class="avatar">
                <img src="../static/assets/avatar.jpg" alt="personal avatar">
                <p>I am a Biomedical Engineer, <br>aspired to become a professional Software/Web Developer</p>
            </div>
            <h2> What I do:</h2>
                <div class="grid-container">
                    <div>
                    <img class="grid-image" src="../static/assets/python.png" alt="python programming language logo">
                    <h3>Scripts in Python programming language</h3>
                    </div>
                    <div>
                    <img class="grid-image" src="../static/assets/Web-Developer.jpg" alt="web developer image">
                    <h3>Website development</h3>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>