<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>My website</title>
</head>
<body>
    <div id="pattern">
        <div id="nav-bar">
            <a href="./index.html" class="nav-titles">Home</a><span id="separator">|</span>
            <a href="./portfolio.html" class="nav-titles active">Portfolio</a><span id="separator">|</span>
            <a href="./about.html" class="nav-titles">About</a>
        </div>
        <h1 id="project-h1">Web design / Development</h1>
            <div class="grid-container projects" id="html">
                <div>
                    <a href="https://stratosss.github.io/Tindog/" target="_blank"><img class="grid-image" src="../static/assets/tindog.jpg" alt="Tindog app"></a>
                    <h3>Tinder for Dogs, Tindog!</h3>
                </div>
                <div>
                    <a href="https://stratosss.github.io/Mondrian-paintings/" target="_blank"><img class="grid-image" src="../static/assets/Mondrian-painting.jpg" alt="Mondrian painting"></a>
                    <h3>Mondrian painting using Grid</h3>
                </div>
                <div>
                    <a href="https://stellar-hotel.my.canva.site/welcome" target="_blank"><img class="grid-image" src="../static/assets/Stellar.jpg" alt="Stellar hotel promotional webpage"></a>
                    <h3>Creative and immersive designs for your website</h3>
                </div>
            </div>
        <h1 id="project-h1">Software development / Applications</h1>
            <div class="grid-container projects" id="python">
                <div>
                    <a href="https://github.com/Stratosss/Translator/blob/main/Translator.py" target="_blank"><img class="grid-image" src="../static/assets/work1-python.jpg" alt="country flag signs"></a>
                    <h3>Online and Offline translator</h3>
                </div>
                <div>
                    <a href="https://github.com/Stratosss/Password-leak-checker/blob/main/Password%20leak%20checker.py" target="_blank"><img class="grid-image" src="../static/assets/work2-python.jpg" alt="hacker image"></a>
                    <h3>Online password leak checker</h3>
                </div>
                <div>
                    <a href="https://github.com/Stratosss/currency_converter/blob/main/Exchange%20rates%20and%20Converter.py" target="_blank"><img class="grid-image" src="../static/assets/work3-python.jpg" alt="stock exchange dashboard"></a>
                    <h3> Access the latest exchange rates and convert currencies</h3>
                </div>
                <div>
                    <a href="https://github.com/Stratosss/Youtube_downloader/blob/main/YouTube%20downloader.py" target="_blank"><img class="grid-image" src="../static/assets/work4-python.jpg" alt="YouTube logo"></a>
                    <h3> Download the selected YouTube video at the highest quality possible </h3>
                </div>
                <div>
                    <a href="https://github.com/Stratosss/Webpage-scraping/blob/main/Scrape%20with%20BS%20and%20NumPy%20and%20Pandas.py" target="_blank"><img class="grid-image" src="../static/assets/work5-python.jpg" alt="website scrapper"></a>
                    <h3> Access and download information from a website and further manipulate its data </h3>
                </div>
                <div>
                    <a href="https://github.com/Stratosss/Password-Generator/blob/main/Password%20Generator.py" target="_blank"><img class="grid-image" src="../static/assets/work6-python.jpg" alt="password input image"></a>
                    <h3> Generate a password from 1 to 99 characters</h3>
                </div>
            </div>
    </div>
</body>
</html>